{% extends 'base.html' %}

    {% block page %}
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-banner-content">
                            <h2>Blog Two Column</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Blog Two Column</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    {% for post in posts %}
                      <div class="col-lg-6 col-md-6">
                          <div class="single-blog-item">
                              <div class="image">
                                  <a href="post/{{ post.id }}"><img src="{{ post.image }}" alt="image"></a>

                                  <div class="date">
                                      <span>{{ post.date_of_post }}</span>
                                  </div>
                              </div>
                              <div class="content">
                                  <h3>
                                      <a href="post/{{ post.id }}">{{ post.title }}</a>
                                  </h3>
                                  <a href="blog-details.html" class="blog-btn">Read More +</a>
                              </div>
                          </div>
                      </div>
                    {% endfor %}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            {% if posts.has_previous %}
                              <a href="?page={{ posts.previous_page_number }}" class="prev page-numbers">
                                  <i class="flaticon-left-arrow"></i>
                              </a>
                            {% endif %}

                            {% for i in posts.paginator.page_range %}
                              {% if posts.number == i %}
                                <span class="page-numbers current" aria-current="page">{{ i }} </span>
                              {% else %}
                                <a href="?page={{ i }}" class="page-numbers">{{ i }}</a>
                              {% endif %}
                            {% endfor %}


                            {% if posts.has_next  %}
                            <a href="?page={{ posts.next_page_number }}" class="next page-numbers">
                                  <i class="flaticon-right-arrow"></i>
                              </a>
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Blog Area -->

        <!-- Start Footer Area -->
        <div class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <h2>
                                    <a href="index.html">Orgo</a>
                                </h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Quick Links</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="shop-1.html">Shop</a>
                                </li>
                                <li>
                                    <a href="blog-1.html">Blog</a>
                                </li>
                                <li>
                                    <a href="faq.html">Faq</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact Us</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone</span>
                                    <a href="tel:407409202288">(+40) 74 0920 2288</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email</span>
                                    <a href="mailto:hello@orgo.com">hello@orgo.com</a>
                                </li>
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Address</span>
                                    175 5th Ave Premium Area, New York, NY 10010, United States
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <p>
                                <i class="far fa-copyright"></i>
                                Copyright @2020 Orgo. All Rights Reserved by
                                <a href="https://envytheme.com/" target="_blank">
                                    EnvyTheme
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li>
                                    <a href="terms-of-service.html">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
    {% endblock %}
